* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f5;
}

body :first-child {
  width: 100%;
}

.logoContainer {
  position: absolute;
  top: 25%;
  width: 100%;
}
.logoContainer div {
  margin: auto;
  width: 50%;
}

.logo {
  position: absolute;
  top: 20%;
  left: 25%;
}
.content {
  margin-top: 100px;
  width: 100%;
}

.card {
  background-color: white;
  text-align: left;
  padding: 45px;
  margin: auto;;

  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.content div {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 15px;
}

.content img{
    border-radius: 15px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10px;
}
